[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "expidite"
version = "0.1.130"
description = "Python module to support using Raspberry Pi for scientific data collection"
readme = "README.md"
requires-python = ">=3.11"
authors = [
  {name = "Estella", email = "estella@bee-ops.com"},
  {name = "Stuart", email = "stuart@bee-ops.com"},
]
dependencies = [
    "adafruit-blinka",
    "adafruit-circuitpython-busdevice",
    "adafruit-circuitpython-bmp280",
    "adafruit-circuitpython-ltr390",
    "azure-storage-blob",
    "click",
    "python-crontab",
    "gitpython",
    "gpiozero",
    "numpy",
    'opencv-python; sys_platform == "win32"',
    "pandas",
    "psutil",
    "pydantic-settings",
    "pytest",
    "PyYAML",
    "smbus2",
    "sensirion_i2c_sht4x",
    'systemd-python; sys_platform != "win32"',
    "wheel",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-socket",
    "pyinstrument",
    "types-PyYAML",
    "pandas-stubs",
    "types-psutil",
    "ruff == 0.14.5",
    "mypy == 1.18.2",
    "codespell == 2.4.1",
]

[project.scripts]
bcli = "expidite_rpi.bcli:main"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.data-files]
"scripts" = ["src/expidite_rpi/scripts/*"]

[tool.ruff]
line-length = 110
indent-width = 4

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"

[tool.ruff.lint]
select = [
    "F",   # pyflakes
    "E",   # pycodestyle error
    "W",   # pycodestyle warning
    "I",   # isort
    "RUF", # ruff-specific rules
    "PIE", # flake8-pie
    # flake8-annotations Ideally enforce all ANN rules, but we need to fix violations before enforcing more.
    "ANN202",
    "ANN204",
    "ANN205",
    "ANN206",
    # pyupgrade Ideally enforce all UP rules, but we need to fix violations before enforcing more.
    "UP006",
    "UP015",
]
fixable = ["ALL"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.mypy]
files = "**/*.py"
check_untyped_defs = true # Override default. Type-checks the interior of functions without type annotations.
ignore_missing_imports = true # Override default. Suppresses error messages about imports that cannot be resolved.
