[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "expidite"
version = "0.1.118"
description = "Python module to support using Raspberry Pi for scientific data collection"
readme = "README.md"
requires-python = ">=3.11"
authors = [
  {name = "Estella", email = "estella@bee-ops.com"},
  {name = "Stuart", email = "stuart@bee-ops.com"},
]
dependencies = [
    "adafruit-blinka",
    "adafruit-circuitpython-busdevice",
    "adafruit-circuitpython-bmp280",
    "adafruit-circuitpython-ltr390",
    "azure-storage-blob",
    "click",
    "python-crontab",
    "gitpython",
    "gpiozero",
    "numpy",
    'opencv-python; sys_platform == "win32"',
    "pandas",
    "psutil",
    "pydantic-settings",
    "pytest",
    "PyYAML",
    "smbus2",
    "sensirion_i2c_sht4x",
    'systemd-python; sys_platform != "win32"',
    "wheel",
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-socket",
    "pyinstrument",
    "types-PyYAML",
    "pandas-stubs",
    "types-psutil",
    "ruff == 0.4.4",
    "mypy == 1.10.0",
]

[project.scripts]
bcli = "expidite_rpi.bcli:main"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"expidite" = ["src/rpi/scripts/*"]

[tool.setuptools.data-files]
"scripts" = ["src/expidite_rpi/scripts/*"]

[tool.ruff]
line-length = 110
indent-width = 4

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"

[tool.ruff.lint]
select = [
    "F",   # pyflakes
    "E",   # pycodestyle
    "I",   # isort
    "RUF", # ruff-specific rules
]
fixable = ["ALL"]

[tool.ruff.lint.pydocstyle]
convention = "google"
